/* SEZIONE GENERALE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}


section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 125px 100px;
  min-height: 100vh;
}

@media screen and 
(max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}

@media screen and 
(max-width: 600px) {
  section {
    padding: 80px 30px;
  }
}

section p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}

section h2 {
  font-family: "barlow", sans-serif;
  font-size: 2em;
  text-align: center;
}

.icon h2 {
  padding-top: 0px;
  padding-bottom: 10px;
}

section em, strong {
  font-family: "barlow", sans-serif;
}

/* MENU NAVIGAZIONE */
.nav_container {
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
}

.nav__list{
  list-style: none;
  display: flex;
  column-gap: 20px;
  flex-direction: row;
}
.nav__link{
  display: inline-block;
  text-decoration: none;
  color: white;
  position: relative;
  font-size: 18px;
}
.nav__link::after{
  content: '';
  position: absolute;
  left: 0;bottom: 0;
  width: 100%;height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
  z-index:9999999;
}
.nav__link:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}

.nav__list > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}



@media screen and 
(max-width: 600px){
  .menu-button-container {
    display: flex;
  }

  .nav__list {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index:1;
  }

  #menu-toggle ~ .nav__list li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .nav__list li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .nav__list > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: black;
  }

}



/* background */

.main {
  display: flex;
  position: relative;
  justify-content: center;
  min-height: 90vh;
  text-align: center;
  font-family: 'barlow', sans-serif;
}

.main .background-img {
  position: absolute;
  top: 10px;
  left: 0;
  bottom: 10%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.main-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-item h1 {
  font-size: 50px;
  padding-bottom: 20px;
  text-shadow: 1px 1px 2px black;
}

.main-item h3 {
  font-size: 20px;
  color: red;
  padding-bottom: 40px;
}

.main img {
  width: 40%;
  border-radius: 500px;
  ;
}

@media screen and 
(max-width: 600px)
 {
  .main {
    align-items: center;
  }
  .main-item h1 {
    font-size: 35px;
    padding-bottom: 10px;
  }

.main img {
  width: 60%;
}
  }


/* about me and skills */


.bio , .flexbox-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-align: center;
  align-items: center;
}

.flexbox-container h2 {
  margin-bottom: 60px;
}

.flexbox-item-2 {
  width: 100%;
}

.accordion {
  max-width: 50% ;
  margin: 90px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  font-family: "lato", sans-serif;
  background: #b49475;
}

.accordion__label,
.accordion__content {
  padding: 14px 20px;
}

.accordion__label {
  display: block;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
}

.accordion__label:hover {
  background: rgba(0, 0, 0, 0.1);
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size: contain;
  transition: transform 0.4s;
}

.accordion__content {
  background: #ffffff;
  line-height: 1.6;
  font-size: 0.85em;
  display: none;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}


table {
  display: flex;
  justify-content: center;
  font-family: "barlow", sans-serif;
}

td {
  padding-left: 15px;
  align-items: center;
}

@media screen and 
(max-width: 600px) {


  .flexbox-container {
  display: inline;
  width: 135%;
  }

  .flexbox-item-1 h2 {
    padding-top: 50px 50px;
  }

  .flexbox-item-1 {
    width: 110%;
    align-content: center;
  }

  .flexbox-item-2 {
    width: 110%;
    align-content: center;
  }

  .accordion {
    width: 100%;
  }
}


/* Da implementare
.projects {
  display: flex;
  align-items: center;

}
.projects img {
  margin-top: 100px;
} /*

/* form e social  */

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 800px;
	display: contents;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
  width: 100%;
	display: flex;
  justify-content: center;
}

.left a {
  padding-left: 1em;
  padding-right: 1em;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 50%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 50%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and 
(max-width: 600px)  {
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 50px;
	}

  .btn {
    width: 100%;
  }

  .field {
    width: 100%;
  }
}


/* footer */ 

footer { 
  background-color: black;
  color: white;
  padding: 15px;
}