/* SEZIONE GENERALE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 125px 100px;
}


section p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}

section h2 {
  font-family: "barlow", sans-serif;
  font-size: 2em;
  text-align: center;
}

.icon h2 {
  padding-top: 0px;
  padding-bottom: 10px;
}

section em, strong {
  font-family: "barlow", sans-serif;
}

/* MENU NAVIGAZIONE */

.navbar {
  font-family: "barlow", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-between;
  background-color: black;
  color: white;
  padding: 30px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  
}

.logo {
  margin-right: 50px;
}

.list {
  list-style: none;
  display: flex;
  gap: 25px;
}

#toggler, 
.navbar label {
  display: none;
}

@media (min-width: 36em)  {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }

  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  #toggler:checked .menu{
    max-height: 100%;
  }
}
  


header {
  font-family: 'Barlow', sans-serif;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 35px 100px 0;
  background-color: black;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}



/* background */

.main {
  display: flex;
  position: relative;
  justify-content: center;
  min-height: 120vh;
  text-align: center;
  font-family: 'barlow', sans-serif;
}

.main .background-img {
  position: absolute;
  top: 20px;
  left: 0;
  bottom: 10%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.main-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-item h1 {
  font-size: 50px;
  text-shadow: 1px 1px 2px black;
}

.main-item h3 {
  font-size: 20px;
  color: red;
  line-height: 5;
  
}

.main img {
  width: 40%;
  border-radius: 200px;
}

@media (min-width: 36em) 
 {
  .main {
    display: flex;
    position: relative;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    font-size: 30px;


  }

  .background-img {
    flex-basis: 100%;
  }

  .main-item h1{
    font-size: 1.2em;
  }

  .main-item h3 {
    font-size: 18px;
    display: inline;
  }

  .main img {
    width: 50%;
    border-radius: 200px;
    
  }
}

/* about me and skills */


.bio , .flexbox-container {
  width: 100%;
  display: flex;
  padding: 50px;
  box-sizing: border-box;
  text-align: center;
}

.flexbox-container h2 {
  margin-bottom: 60px;
}

.flexbox-item-1 {
  flex: 1;
  padding: 30px;
}

.flexbox-item-2 {
  flex: 1;
  padding: 30px;
  align-items: center;
}

.accordion {
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  font-family: "lato", sans-serif;
  background: #b49475;
}

.accordion__label,
.accordion__content {
  padding: 14px 20px;
}

.accordion__label {
  display: block;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
}

.accordion__label:hover {
  background: rgba(0, 0, 0, 0.1);
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size: contain;
  transition: transform 0.4s;
}

.accordion__content {
  background: #ffffff;
  line-height: 1.6;
  font-size: 0.85em;
  display: none;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}


table {
  display: flex;
  justify-content: center;
  font-family: "barlow", sans-serif;
}

td {
  padding-left: 15px;
  align-items: center;
}

@media (min-width: 36em) {
  
  .bio {
    
    border: 1px solid black;
  }

  .flexbox-container {
    display: inline;
    width: 550px;
    border: 1px solid black;
  }

  .flexbox-item-1 {
    
    border: 1px solid black;
  }
}



/* Da implementare
.projects {
  display: flex;
  align-items: center;

}
.projects img {
  margin-top: 100px;
} /*

/* form e social  */

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 800px;
	display: contents;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
  width: 100%;
	display: flex;
  justify-content: center;
}

.left a {
  padding-left: 1em;
  padding-right: 1em;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 50%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 50%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media (min-width: 36em)  {
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 50px;
	}

  .btn {
    width: 100%;
  }

  .field {
    width: 350px;
  }
}
